@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="text-vertical-center text-center">
    <p>Vitanator - artist</p>
    <p>TheSkyMaks - programmer</p>
    <p>Sevr - musician</p>
</div>

