@{
    ViewData["Title"] = "Exhibits";
}


<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>
        <img src=https://cdn.discordapp.com/attachments/754678835290832977/754679800773345310/Screenshot_17.png alt="sakura" />
    </p>
    <p>
        <img src=https://cdn.discordapp.com/attachments/754678835290832977/754679915344953364/Screenshot_8.png alt="naruto"/>
    </p>
</div>
