@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!--
    <p>The time on the server is @DateTime.Now</p>
    -->
    <p><img src=https://cdn.discordapp.com/attachments/279275465078996993/754615641188728952/Screenshot_19.png width="725" height="425" alt="silhouettes" /></p>
</div>
