@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--
    <h1 class="display-4">Welcome</h1>
    <p>The time on the server is @DateTime.Now</p>
    -->
    <p>
        <img src=https://i.pinimg.com/originals/5d/52/48/5d524836f0119f072bb605ff9c1a2582.png width="637" height="425" alt="silhouettes" />
    </p>
</div>
