@{
    ViewData["Title"] = "Music";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="text-center">
    <p>There was supposed to be music here, but Sevr hadn't done it yet</p>
</div>