@{
    ViewData["Title"] = "Music";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="text-center">
    <p>There was supposed to be music here, but Sevr hadn't done it yet</p>
</div>

<!--///////////////////////////////////////-Local Storage Example-////////////////////////////////////////////////-->

<div>

    <form>
        <input id="item" type="text" placeholder="Write your favorite music">
    </form>

    <p>
    Your favorite music:
    </p>
    <ul id="FavouriteMusic" ></ul>

    <button>Clear All</button>
</div>

<script>
    const form = document.querySelector('form');
    const ul = document.getElementById("FavouriteMusic");
    const button = document.querySelector('button');
    const input = document.getElementById('item');
    let itemsArray = localStorage.getItem('items') ? JSON.parse(localStorage.getItem('items')) : [];

    localStorage.setItem('items', JSON.stringify(itemsArray));
    const data = JSON.parse(localStorage.getItem('items'));

    const liMaker = (text) => {
        const li = document.createElement('li');
        li.textContent = text;
        ul.appendChild(li);
    }

    form.addEventListener('submit', function (e) {
        e.preventDefault();

        itemsArray.push(input.value);
        localStorage.setItem('items', JSON.stringify(itemsArray));
        liMaker(input.value);
        input.value = "";
    });

    data.forEach(item => {
        liMaker(item);
    });

    button.addEventListener('click', function () {
        localStorage.clear();
        while (ul.firstChild) {
            ul.removeChild(ul.firstChild);
        }
        itemsArray = [];
    });

</script>