@{
    ViewData["Title"] = "News";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>


<main role="main">
    <div class="album py-5">
        <div class="container">
            <div class="">
                @{
                    var news = new web.Models.News.NewsNoSQL();
                    news.StartNewsNoSQL();
                    var imgData = news.imgData;
                    if(imgData == null)
                    {
                        var mockNews = new web.Models.News.MockNewsData();
                        mockNews.StartMockNews();
                        imgData = mockNews.imgData;
                    }
                    foreach (var imgInfo in imgData)
                    {
                        string linkOfArt = "https://media.discordapp.net/attachments/754678835290832977/" + imgInfo.LinkOfArt;
                        string linkOfNews = "https://media.discordapp.net/attachments/754678835290832977/" + imgInfo.LinkOfNews;
                        <div class="">
                            <div class="card mb-4 shadow-sm">
                                <img src=@linkOfArt class="width100percent" />
                                <div class="card-body">
                                    <p class="text-dark text-bold text-center">@imgInfo.NameOfNews</p>
                                    <p class="text-dark">@imgInfo.DescriptionOfNews</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href=@linkOfNews class="btn btn-sm btn-outline-secondary">Details</a>
                                        </div>
                                        <small class="text-muted">@imgInfo.DateCreationOfNews</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</main>

