@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="text-vertical-center text-center">
    <p>you can use the works on this site, but pointing to the author</p>
</div>

